@font-face {
  font-family: 'champion';
  src: url('../fonts/champion.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
	font-family: 'neosans';
	src: url('../fonts/neosans.otf') format('opentype');
}